<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/items/add}'|"

                    type="button">회원 등록
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>성별</th>
                <th>나이</th>
                <th>전화번호</th>
                <th>위치</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="member : ${members}">
                <td><a href="item.html" th:href="@{/basic/items/{memberId}(memberId=${member.id})}" th:text="${member.id}">회원
                    id</a></td>
                <td><a href="item.html" th:href="@{/basic/items/{memberId}(memberId=${member.id})}"
                       th:text="${member.name}">테스트 상품1</a></td>
                <td th:text="${member.sex}">1</td>
                <td th:text="${member.age}">20</td>
                <td th:text="${member.phoneNumber}">010-1234-5678</td>
                <td th:text="${member.location}">서울</td>

            </tr>

            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>